#h2{
    margin-top: 20px;
    margin-bottom: 20px
}

#row{
    margin-bottom: 20px;
}

#video{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
}

#loader{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#reactLoader{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
}

#description{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

#h5{
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#webcamaccess{
    margin-left: 20px;
}